#jinja2:lstrip_blocks: True
apiVersion: batch/v1
kind: Job
metadata:
  annotations:
  labels:
    app.kubernetes.io/name: gems-mysql-initialize
  name: gems-mysql-initialize-{{ core_plugins.kubegems_centrol.details.version }}
  namespace: gemcloud-system
spec:
  backoffLimit: 10
  parallelism: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: gems-mysql-initialize
      name: gems-mysql-initialize
    spec:
      affinity:
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - gems-service
              topologyKey: kubernetes.io/hostname
      containers:
      - image: "{{ global.repository | default('docker.io/kubegems') }}/kubegems:{{ core_plugins.kubegems_centrol.details.version | default('latest')}}"
        imagePullPolicy: IfNotPresent
        name: gems-mysql-initialize
        args:
        - service
        - migrate
        - --initdata=true
        envFrom:
        - secretRef:
            optional: true
            name: gems-env
        volumeMounts:
        - mountPath: /serv/certs/jwt
          name: gems-jwt-certs
      dnsPolicy: ClusterFirst
      {% if global.imagepullsecret is defined %}
      imagePullSecrets:
      - name: {{ global.imagepullsecret |default('kubegems') }}
      {% endif %}
      restartPolicy: OnFailure
      volumes:
      - name: gems-jwt-certs
        secret:
          secretName: gems-service-certs-secret