- name: Core Plugins | Node Exporter 
  community.kubernetes.k8s:
    state: '{{ "present" if core_plugins.node_exporter.enabled else "absent" }}'
    definition: "{{ lookup('template', item) | from_yaml }}"
  with_items:
    - node-exporter/sa.yaml
    - node-exporter/psp.yaml
    - node-exporter/clusterrole-psp.yaml
    - node-exporter/clusterrolebinding-psp.yaml
    - node-exporter/daemonset.yaml
    - node-exporter/service.yaml