- name: Kubernetes Plugins | Node Problem Detector
  community.kubernetes.k8s:
    state: '{{ "present" if kubernetes_plugins.node_problem_detector.enabled else "absent" }}'
    definition: "{{ lookup('template', item) | from_yaml }}"
  with_items:
    - node-problem-detector/sa.yaml
    - node-problem-detector/clusterrole.yaml
    - node-problem-detector/clusterrolebinding.yaml
    - node-problem-detector/configmap.yaml
    - node-problem-detector/daemonset.yaml
    - node-problem-detector/svc.yaml